package shared

templ SignUpAlert() {
    <div class="w-full bg-red-600 p-5 text-white flex flex-col gap-4 items-center text-center">
        <div class="flex flex-col gap-2">
            <p class="text-3xl text-white font-semibold">Silly Socks and More</p>
            <p class="text-sm text-zinc-200">Sign up to recieve email notifications on new products.</p>
        </div>
        <button class="btn btn-primary w-fit px-6 text-white">Sign Up</button>
    </div>
}